{% extends 'backend/base.html' %}
{% load product_tags %}
{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option selected disabled>--Select A Variant--</option>
                    <!-- {{variant_grp}} -->
                    {%for key,vals in variant_grp.items%}
                    <optgroup label="{{key}}">
                        {%for val in vals%}
                        <option value="{{val}}">{{val}}</option>                        
                        {%endfor%}
                    </optgroup>
                    {%endfor%}

                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date"  placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {%for object in object_list%}
                <tr>
                    <td>{{object.id}}</td>
                    <td class="" style="width: 15%;">{{object.title}} <br> Created at : {{object.created_at|timesince}}</td>
                    <td style="width: 30%;">{{object.description}}</td>
                    <td>
                       
                        {%with product_varients_and_price=object.productvariantprice_set.all%}
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant{{object.id}}">

                            <dt class="col-sm-4 pb-0">
                                {%for obj  in product_varients_and_price%}
                                <div class="mb-2 ">
                                    {{obj}}
                                </div>
                                {%endfor%}
                                
                                
                            </dt>
                            <dd class="col-sm-8">
                                {%for obj  in product_varients_and_price%}
                                <dl class="row mb-2">
                                    <dt class="col-sm-4 pb-0">Price : {{obj.price}}</dt>
                                    <dd class="col-sm-8 pb-0">InStock : {{obj.stock}}</dd>
                                </dl>
                                {%endfor%}
                                

                            </dd>
                        </dl>
                        {%endwith%}
                        <button onclick="$('#variant{{object.id}}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'product:update.product' pk=object.id%}" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {%endfor%}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{page_obj.start_index}} to {{page_obj.end_index}} out of {{page_obj.paginator.count}}</p>
                
            </div>
            <div class="col-md-4">

 
            
            

              {% if is_paginated %}
              <nav aria-label="Page navigation "></nav>
              <ul class="pagination justify-content-end ">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">&laquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link" >&laquo;</span></li>
                  {% endif %}

                  {% get_proper_elided_page_range paginator page_obj.number as page_range %}

                  {% for i in page_range %}
                  {% if page_obj.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span> </span></li>
                  {% else %}
                    {% if i == paginator.ELLIPSIS %}
                    <li class="page-item"><a class="page-link" >{{ paginator.ELLIPSIS }}</a></li>
                    {%else%}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                    {%endif%}
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li  class="page-item"><a class="page-link"href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                  {% endif %}
              </ul>
          </nav>
              {% endif %}



           

            </div>
        </div>
    </div>
</div>
{% endblock %}